{% extends 'base.html' %}

{% block body %}
  <table class='table'>
    <tr>
      <th>Nama Berita</th>
      <th>Deskripsi</th>
      <th>Link</th>
      <th style='text-align:center'>Aksi</th>
    </tr>
    {% for berita in allBerita %}
        <tr>
          <td>{{berita.nama}}</td>
          <td>{{berita.deskripsi}}</td>
          <td><a href="{% url 'admin_page:berita_detail' pk=berita.pk %}">Lihat Berita</a></td>
          <td><a href="{% url 'admin_page:berita_delete' pk=berita.pk %}" class='btn btn-default'>Hapus</a></td>
          <td><a href="{% url 'admin_page:berita_fedit' pk=berita.pk %}" class='btn btn-default'>Edit</a></td>
        </tr>
    {% endfor %}
  </table>

  {% if is_paginated %}
    <ul class="pagination">
      {% if allBerita.has_previous %}
        <li><a href="?page={{ allBerita.previous_page_number }}">&laquo;</a></li>
      {% else %}
        <li class="disabled"><span>&laquo;</span></li>
      {% endif %}
      {% for i in allBerita.paginator.page_range %}
        {% if allBerita.number == i %}
          <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
          <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}
      {% if allBerita.has_next %}
        <li><a href="?page={{ allBerita.next_page_number }}">&raquo;</a></li>
      {% else %}
        <li class="disabled"><span>&raquo;</span></li>
      {% endif %}
    </ul>
  {% endif %}

{% endblock %}
