{% extends 'base.html' %}

{% block body %}
  <div class="panel panel-primary"><div class="panel-heading">
    <h3 class="panel-title">Judul Peta</h3>
  </div>
  <div class="panel-body">
    {{ peta.nama }}
  </div></div>
<div class="panel panel-primary"><div class="panel-heading">
    <h3 class="panel-title">Tanggal Ditambahkan</h3>
  </div>
  <div class="panel-body">
    {{peta.tanggal|date:"Y-m-d"}}
  </div></div>
<div class="panel panel-primary"><div class="panel-heading">
    <h3 class="panel-title">Deskripsi Peta</h3>
  </div>
  <div class="panel-body">
    {{peta.deskripsi}}
  </div></div>

<div class="panel panel-primary"><div class="panel-heading">
    <h3 class="panel-title">Gambar Peta</h3>
</div>
  <div class="panel-body">
   <img src="{{ peta.path.url }}" width='180' height='100' class='img-responsive' alt='image-berita'>
</div>
</div>

{% endblock %}
